<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Esta regra impede que os passos seguintes se apliquem a ficheiros ou pastas que já existem
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Esta é a regra principal:
  # Procura se existe uma pasta com o nome do URL solicitado.
  # Se existir, serve silenciosamente o ficheiro index.html que está dentro dela.
  # Ex: /tecassistiva -> /tecassistiva/index.html
  RewriteCond %{REQUEST_URI}/index.html -f
  RewriteRule (.*) $1/index.html [L]
</IfModule>